<footer class="page-footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="logo">watchcharm</div>
      <div class="social-icons">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a class="footer-social-link" href="#">
              <svg class="footer-social-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#">
              <svg class="footer-social-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#">
              <svg class="footer-social-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-center">
      <p>
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="footer-right">
      <p>+380 (68) 443-94-26</p>
    </div>
    <nav class="footer-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Catalog</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <div class="footer-bottom">
      <p>© 2023 The Watch Spot. All rights reserved.</p>
      <div class="bottom-right">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
      <p class="address">W78 S Pioneer Road Salt Lake City UT 84104</p>
    </div>
  </div>
</footer>
