<footer id="footer" class="container page-footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="logo-and-socials">
        <a class="logo" href="./index.html">watchcharm</a>
        <ul class="social-list">
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT"
              class="social-link"
              target="_blank"
            >
              <svg class="social-icon">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <a class="contact-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </div>
    <p class="footer-text">
      Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </p>
    <div class="footer-main">
      <nav class="footer-nav">
        <ul class="nav-list">
          <li><a href="#home">Home</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#catalog">Catalog</a></li>
          <li><a href="#sale">Sale</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contact-us">Contact Us</a></li>
        </ul>
      </nav>
      <address class="footer-address">
        <a
          href="https://www.google.com/maps/place/1678+S+Pioneer+Rd,+Salt+Lake+City,+UT+84104"
          target="_blank"
        >
          1678 S. Pioneer Road Salt Lake City UT 84104
        </a>
      </address>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-bottom">
      <div class="terms">©2023 The Watch Spot. All rights reserved.</div>
      <div class="footer-links">
        <a class="footer-links-terms" href="#">Terms of Service</a>
        <a class="footer-links-terms" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
