<div class="modal-menu-container">
  <div class="modal-menu-block-list">
    <ul class="modal-menu-list">
      <li class="current"><a href="#home">Home</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#catalog">Catalog</a></li>
      <li><a href="#sale">Sale</a></li>
      <li><a href="#reviews">Reviews</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
    </ul>
  </div>

  <!-- modal-menu-icon-block -->

  <div class="modal-menu-icon-block">
    <button class="modal-menu-button-close" type="button">
      <svg class="icon-item-x" width="34" height="34">
        <use href="/img/icons.svg#icon-item-x"></use>
      </svg>
    </button>
    <ul class="modal-menu-icon-item-block">
      <li class="modal-menu-icon-item">
        <a
          class="icon-item"
          href="https://www.facebook.com/golTclub/"
          target="_blank"
        >
          <svg class="icon-item-svg" width="18" height="18">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="modal-menu-icon-item">
        <a
          class="icon-item"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          ><svg class="icon-item-svg" width="18" height="18">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="modal-menu-icon-item">
        <a
          class="icon-item"
          href="https://www.youtube.com/c/GolT"
          target="_blank"
          ><svg class="icon-item-svg" width="18" height="18">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
