.contact-container {
  padding-bottom: 60px;
}
.contact-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  max-width: 240px;
  margin-bottom: 24px;
}
.form-container {
  border-radius: 30px;
  padding: 48px 28px;

  max-width: 335px;
  width: 100%;
  /*height: 512px;*/

  background-color: #f3f3f3;

  margin-bottom: 20px;
}
.contact-form-des {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);

  margin-bottom: 28px;
}
.contact-field {
  margin-bottom: 18px;
}
.contact-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 14px;
  max-width: 279px;
  width: 100%;
  height: 42px;

  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-input:active {
  border-color: #3350e9;
}

.contact-textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 136px 54px 14px;
  max-width: 279px;
  width: 100%;
  height: 84px;

  margin-bottom: 28px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-textarea:active {
  border-color: #3350e9;
}
.contact-input::placeholder,
.contact-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: #0c0c0c;
}
.contact-btn {
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;

  background-color: #3350e9;
  color: #fbfbfb;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-btn:active {
  background-color: #1f3cd4;
}
.contact-image {
  border-radius: 30px;

  max-width: 335px;
  width: 100%;
  height: 512px;
}

@media screen and (min-width: 768px) {
  .contact-container {
    padding-bottom: 80px;
  }
  .contact-title {
    font-size: 48px;
  }
  .form-container {
    border-radius: 50px;
    padding: 50px 122px;
    margin-bottom: 40px;
    max-width: 704px;
    height: 556px;
  }
  .contact-form-des {
    font-size: 16px;
    line-height: 1.25;

    margin-bottom: 32px;
  }
  .contact-input {
    padding: 16px 398px 16px 18px;
    max-width: 460px;
    height: 52px;
  }
  .contact-textarea {
    padding: 16px 315px 54px 16px;
    max-width: 460px;
    height: 90px;

    margin-bottom: 32px;
  }
  .contact-input::placeholder,
  .contact-textarea::placeholder {
    line-height: 1.29;
  }
  .contact-btn {
    border-radius: 16px;
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }
  .contact-image {
    border-radius: 50px;

    max-width: 704px;
    width: 100%;
    height: 556px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-container {
    padding-bottom: 100px;
  }
  .contact-flex {
    display: flex;
    gap: 40px;
  }
  .form-container {
    padding: 50px 60px;
    margin-bottom: 0;
    max-width: 580px;
    height: 556px;
  }
  .contact-input {
    padding-right: 315px;
    padding-left: 16;
  }
  .contact-image {
    border-radius: 50px;

    max-width: 704px;
    width: 100%;
    height: 556px;
  }

  .contact-input {
    padding: 16px 315px 16px 16px;
  }
  .contact-input:hover,
  .contact-input:focus {
    border-color: #3350e9;
  }
  .contact-textarea:hover,
  .contact-textarea:focus {
    border-color: #3350e9;
  }
  .contact-btn:hover,
  .contact-btn:focus {
    background-color: #1f3cd4;
  }
}
