.hero {
  padding-bottom: 100px;
}
.title-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  width: 597px;
  padding-top: 80px;
  margin-right: 417px;
  margin: 0;
}
.hero-title-span {
  color: #3350e9;
}
.clients {
  display: flex;
  padding-top: 80px;
}
.client-back {
  border-radius: 100%;
  background-color: transparent;
}
.client-middle {
  border-radius: 100%;
  background-color: transparent;
}
.client-front {
  border-radius: 100%;
  background-color: transparent;
}
#client-back,
#client-middle,
#client-front {
  position: relative;
}
#client-back {
  left: 30px;
  z-index: 1;
}
#client-middle {
  left: 15px;
  z-index: 2;
}
#client-front {
  left: 0px;
  z-index: 3;
}
.hero-text-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero-text {
  margin-top: 20px;
  padding-bottom: 40px;
  width: 480px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 3;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.hero-btn {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  cursor: pointer;
  color: #3350e9;
}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
}
