@media screen and (min-width: 1280px) {
  .modal-menu-container {
    display: none;
  }
}

.modal-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 998;
}

.modal-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-menu-container {
  width: 100%;
  max-width: 260px;
  height: 100vh;
  background-image: url(/img/sale/modal-menu-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-backdrop.is-open .modal-menu-container {
  transform: translateX(0);
}

.modal-menu-block {
  position: relative;
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.modal-menu-button-close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}

.icon-item-x {
  stroke: #fbfbfb;
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item-x:active {
  opacity: 1;
}

.modal-menu-nav {
  margin-bottom: auto;
}

.modal-menu-block-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.modal-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -75%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.modal-menu-link .current {
  color: #3350e9;
}

.modal-menu-link:focus:after,
.modal-menu-link.current::after {
  opacity: 1;
}

.modal-menu-icon-item-block {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 260px;
}

.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
}

.icon-item-svg {
  fill: #fbfbfb;
  opacity: 0.8;
  width: 18px;
  height: 18px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item-svg:active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .modal-menu-container {
    max-width: 330px;
  }

  .modal-menu-block {
    padding-top: 310px;
    padding-bottom: 50px;
  }

  .modal-menu-button-close {
    width: 40px;
    height: 40px;
  }

  .modal-menu-block-list {
    gap: 32px;
  }

  .modal-menu-icon-item-block {
    margin-top: 350px;
  }

  .icon-item {
    width: 36px;
    height: 36px;
  }

  .icon-item-svg {
    width: 20px;
    height: 20px;
  }
}
